.error-container {
  position: fixed;
  padding: 1rem;
  gap: 1rem;
  border-radius: inherit;
  display: flex;
  flex-wrap: wrap;
  box-shadow: var(--shadow);
  background: #fff;
  transition: all 0.5s;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  width: 400px;
}
.error-container[status="close"] {
  opacity: 0;
  pointer-events: none;
}
.error-message{
  width: 100%;
}
.error-title{
  display: flex;
  font-weight: bold;
}
.error-img{
  width: 32px;
}